body {
    height: 90vh;
}

#sketch-pad {
    width: 500px;
    height: 500px;
    border: solid black 2px;
    display: grid;
    place-content: stretch;
    align-self: center;

}

#sketch-pad div {
    border: solid black 2px;
}