body {
    height: 90vh;
}

#sketch-pad {
    width: 500px;
    height: 500px;
    border: solid black 2px;
    display: grid;
    place-content: stretch;
    align-self: center;

}


.cell {
    border: solid rgba(0, 0, 0, 0.131) 1px;
}

.cell:hover {
    cursor: cell;
}