@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Sacramento&display=swap');

:root {
    --Medium-Slate-Blue: #7161EF;
    --Medium-Purple: #957FEF;
    /* Lighter text from here down */
    --Maximum-Blue-Purple: #B79CED;
    --Mauve: #DEC0F1;
    --Champagne-Pink: #EFD9CE;

}

body {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: var(--Medium-Slate-Blue);
}

#title {
    font-family: Sacramento, sans-serif;
    font-size: 50px;

    margin-top: 10px;
    margin-bottom: 10px;

    color: white;
}

.slider-container {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    color: white;

    padding: 15px 10px;
    margin-bottom: 15px;
}

#sketch-pad {
    width: 500px;
    height: 500px;
    border: solid black 2px;
    display: grid;
    place-content: stretch;
    align-self: center;

}


.cell {
    border: solid rgba(0, 0, 0, 0.131) 1px;
}

.cell:hover {
    cursor: cell;
}